  /* 
  
  
.recording-indicator {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  font-weight: bold;
  color: red;
  font-size: 16px;
}

.recording-indicatortext {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    font-weight: bold;
    color: red;
    font-size: 16px;
}


.backbutton{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}